 SECRET_KEY =django-insecure-nlt*ny*q3%^4n%3=w@6ar^6qawc1u)67x^dgo8jm%32p6x@-6c
EMAIL_HOST_USER =caratreeDiamonds@gmail.com
EMAIL_HOST_PASSWORD =mjft aaty xxkc rwry
DATABASE_ENGINE=django.db.backends.postgresql_psycopg2
DATABASE_NAME=Thavakkal
DATABASE_USER=postgres
DATABASE_PASSWORD=Cara@963
DATABASE_HOST=localhost
DATABASE_PORT=5432

